---
import IndexPage from "src/layouts/IndexPage.astro";
---

<IndexPage>
  <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="text-6xl font-bold text-red-500">404</div>
    <div class="mt-4 text-xl text-gray-700">Oops, This Page Could Not Be Found!</div>
  </div>
</IndexPage>
